*
{
    padding: 0px;
    margin: 0px;
}
@font-face{
    font-family:'Text-Gyre-Adventor-Regular';
    src: url('../Sources/Fonts/texgyreadventor-regular.otf');
}
html
{
    height:100%;
}
body {
    font-family: 'Text-Gyre-Adventor-Regular','Roboto', sans-serif;
   position: relative;
}
#mainContent{
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}
